@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./containers.scss";
@import "./elements.scss";
@import "./typo.scss";

html {
    scroll-behavior: smooth;
    @apply bg-bg text-primary;
}

::selection {
    color: #ffffff;
    background-color: theme("colors.primary");
}
