.vpt-container {
    @apply mx-auto px-4 md:px-6 lg:px-8;

    &__sm {
        max-width: 793px;
    }

    &__md {
        max-width: 1024px;
    }

    &__lg {
        max-width: 1280px;
    }
}

.vpt-section {
    @apply mt-4 md:mt-6;
}
