@import "./signup-form.scss";

// App Logo
.vpt-app-logo path {
    fill: theme("colors.primary");
}

/**
* Button
*/
.vpt-button {
    @apply inline-block px-4 py-2 text-white bg-primary text-center;
}

/**
* Social Share
*/

.vpt-social-share {


    &__button {
        background-color: var(--bg-color, theme("colors.primary")) !important;

        &[data-share-type="whatsapp"] {
            --share-icon: "\e957";
            --bg-color: #25D366;
        }

        &[data-share-type="telegram"] {
            --share-icon: "\ed75";
            --bg-color: #0088cc;
        }

        &[data-share-type="facebook"] {
            --share-icon: "\ed37";
            --bg-color: #3b5998;
        }

        &[data-share-type="twitter"] {
            --share-icon: "\ed7a";
            --bg-color: #1da1f2;
        }

        &[data-share-type="email"] {
            --share-icon: "\efdf";
        }
    }
}
